@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: var(--bg-color);
}

:root {
    --primary-color: #223835;
    --secondary-color: #558E62;
    --third-color: #E6E5DA;
    --bg-color: #F2EEEB;
    --text-color: #0a1110;
    --text-color2: #07794F;
    --text-color3: #065538;
    --text-color-coffee1: #EAC799;
    --bg-color-coffee1: #D48D30;
    --text-color-coffee2: #DBAE94;
    --bg-color-coffee2: #a86038;
    --text-color-coffee3: #CCB8BC;
    --bg-color-coffee3: #3f2f32;

}

/* ----------- Start Header ----------- */

header {
    background-image: url(../images/background-header.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: 'Inconsolata', monospace;
    top: 0;
    left: 0;
    width: 100%;
}

.header-active {
    background: var(--bt-color);
    transition: 0.4s;
}

.paragraph-header {
    color: var(--text-color2);
    font-weight: 600;
    letter-spacing: 3px;
}

.paragraph-header-2 {
    color: var(--text-color2);
    font-weight: 600;
}

.starbucks-title {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.container-text-header {
    height: 50vh;
}



/* ---------- Start Nabvar ----------*/

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.logo {
    width: 20px;
    height: 20px;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.container-nav {
    max-width: 960px;
    margin: 0 auto;
    width: 90%;
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link {
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--text-color);
}

.nav-link:hover {
    color: white;
    background: var(--secondary-color);
    transition: 0.3s all linear;
}

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: var(--text-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}


/* ---------- End Nabvar ----------*/

/* ---------- End Header ---------- */



/* ---------- Start Main Home ---------- */

main {
    height: fit-content;
}

.container-text-information{
    height: fit-content;
}

.image-fluide-main {
    height: 30vh;
    margin: -0.5rem 0rem 0rem 0rem;
}

.title-main-home {
    color: var(--text-color3);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.paragraph-main-home {
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
}

.paragraph-main-home-2 {
    width: 70%;
    position: absolute;
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    margin: 0rem 20rem 0rem 6rem;
}

.paragraph-main-home-3 {
    width: 70%;
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
}

.image-coffee-spilled {
    position: absolute;
    margin: 0rem 20rem 0rem -5rem;
    transform: rotate(12deg);
}

.image-coffee-capsule {
    width: 14rem;
    height: 10rem;
}

/*  ---------- End Main Home  ----------  */


/*  ---------- Start Main Menu  ----------  */

.container-menu-coffee {
    background-color: #205541;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: fit-content;
    width: 100%;
}

.title-main-menu {
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: 800;
    letter-spacing: 4px;
    text-shadow: #223835ae 3px 3px 3px;

}

/* --------- Start Card Menu ---------- */
.main-menu {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: var(--text-color);
    padding: 0.8rem;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 900;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.12);
    transition: 300ms;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.451);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    height: fit-content;
    padding: 1rem;
    background: rgba(186, 185, 185, 0.485);
}

.card_title {
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
}

.card_text {
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 3rem;
    text-shadow: #0a111064 2px 2px 2px;
}

.text-refresha {
    margin-bottom: 4.2rem !important;
}

/* --------- End Card Menu ---------- */

/* --------- End Menu ---------- */


/* --------- Start Coffee ---------- */
.container-image-title-coffee{
    background-color: #eeebe8;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: fit-content;
    width: 100%;
}

.image-fluid-main-coffee {
    width: 60%;
    height: 40vh;
}

.title-main-coffee {
    width: 70% !important;
    color: var(--text-color3);
    font-family: 'Merriweather', serif;
    letter-spacing: 5px;
    font-weight: 800;
    position: absolute;
    margin: -15rem 0rem 0rem 6rem;
}

.timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
}

.timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 6px;
    align-self: center;
    width: 50vw;
}

.timeline__event:nth-child(2n + 1) {
    flex-direction: row-reverse;
}

.timeline__event:nth-child(2n + 1) .timeline__name {
    border-radius: 0 6px 6px 0;
}

.timeline__event:nth-child(2n + 1) .timeline__content {
    border-radius: 6px 0 0 6px;
}

.timeline__event:nth-child(2n + 1) .timeline__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: var(--text-color-coffee1);
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline__event:nth-child(2n + 1) .timeline__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--bg-color-coffee1);
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    animation: fillLeft 2s forwards 4s ease-in-out;
}

.timeline__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--bg-color-coffee1);
    letter-spacing: 1.5px;
}

.timeline__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: var(--bg-color);
    width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
}

.timeline__name {
    color: var(--text-color-coffee1);
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--bg-color-coffee1);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: wrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
}

.timeline__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color-coffee1);
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: var(--text-color-coffee1);
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 50px;
    height: 40px;
    position: relative;
}

.timeline__icon i {
    font-size: 32px;
}

.timeline__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: var(--text-color-coffee1);
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--text-color-coffee1);
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    animation: fillLeftOdd 2s forwards 4s ease-in-out;
}

.timeline__description {
    flex-basis: 60%;
}

.timeline__event--type2 .timeline__name {
    color: var(--text-color-coffee2);
    background: var(--bg-color-coffee2);
}

.timeline__event--type2:nth-child(2n + 1) .timeline__icon:before,
.timeline__event--type2:nth-child(2n + 1) .timeline__icon:after {
    background: var(--text-color-coffee2);
}

.timeline__event--type2 .timeline__icon {
    background: var(--text-color-coffee2);
    color: var(--bg-color-coffee2);
}

.timeline__event--type2 .timeline__icon:before,
.timeline__event--type2 .timeline__icon:after {
    background: var(--text-color-coffee2);
}

.timeline__event--type2 .timeline__title {
    color: var(--bg-color-coffee2);
}

.timeline__event--type3:after {
    background: var(--bg-color-coffee3);
}

.timeline__event--type3 .timeline__name {
    color: var(--text-color-coffee3);
    background-color: var(--bg-color-coffee3);
}

.timeline__event--type3:nth-child(2n + 1) .timeline__icon:before,
.timeline__event--type3:nth-child(2n + 1) .timeline__icon:after {
    background: var(--text-color-coffee3);
}

.timeline__event--type3 .timeline__icon {
    background: var(--text-color-coffee3);
    color: var(--bg-color-coffee3);
}

.timeline__event--type3 .timeline__icon:before,
.timeline__event--type3 .timeline__icon:after {
    background: var(--text-color-coffee3);
}

.timeline__event--type3 .timeline__title {
    color: var(--bg-color-coffee3);
}

.timeline__event:last-child .timeline__icon:before {
    content: none;
}

/* -------- Start Main History -------- */

.fluid-coffee {
    position: absolute;
    margin: 1rem 0rem 0rem 7rem;
    transform: rotate(15deg);
    z-index: 3;
}

.title-main-history {
    width: 50%;
    position: absolute;
    margin: 6rem 0rem 0rem 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 800;
    color: var(--bg-color-coffee3);
    z-index: 2;
}

.container-main-history {
    background-image: url(../images/bg-main-history.png);
    height: fit-content;
    z-index: 1;
    margin-top: 3rem;
}

.subtitle-history {
    color: var(--bg-color-coffee3);
    font-weight: 600;
    font-style: italic;
}

.title-text-history {
    color: var(--bg-color-coffee3);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    margin-top: 13rem;
}

.paragraph-main-history {
    color: var(--bg-color-coffee3);
    font-weight: 600;
}

.paragraph-main-history-2,
.paragraph-main-history-3,
.paragraph-main-history-5,
.paragraph-main-history-6 {
    color: var(--bg-color-coffee3);
}

.paragraph-main-history-3 {
    color: var(--bg-color-coffee3);
}

.image-coffee-heart {
    height: 10rem;
    width: 10rem;
    transform: rotate(15deg);
}

.title-question {
    color: var(--bg-color-coffee3);
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.image-moby-dick-history {
    height: 12rem;
    width: 12rem;
    margin-top: 10vh;
}

.image-italy-history {
    height: 12rem;
    width: 12rem;
    margin-top: 20vh;
}

/* --------- End Main History --------- */

/* --------- Start Main Contact --------- */

#contact {
    width: 100%;
    height: fit-content;
    background-image: url(../images/bg-image-contact.jpg);
    background-position: center;
    background-size: cover;
}

.section-header {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    text-shadow: #555 2px 2px 2px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
.form-horizontal {
    width: 90%;
}

.form-control,
textarea {
    max-width: 400px;
    background-color: transparent;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 40px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 100%;
    height: 40px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -35px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
    width: 100%  !important;
    margin: auto;
}

/* Location, Phone, Email Section */
.contact-list {
    background-color: #d0d0d076;
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    border-radius: 1rem;
}

.list-item {
    line-height: 4;
    color: var(--text-color);
    width: 100%;
    display: flex;
    align-items: center;
}

.contact-text {
    letter-spacing: 1.9px;
    color: var(--text-color);
    font-weight: 600;
    text-shadow: 3px 3px 2px #ffffff87;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 45px;
}

.contact-text a {
    color: var(--text-color);
    text-decoration: none;
    transition-duration: 0.2s;
    font-weight: 600;
}


/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 15px 5px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

hr {
    border-color: rgba(0, 0, 0, 0.792);
}

/* --------- End Main Contact --------- */

/* Button Scroll top */

.scroll-top {
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
    z-index: 100;
}

.scroll-top .bx {
    padding: 8px;
    font-size: 2rem;
    color: var(--bg-color) !important;
    background: var(--text-color) !important;
    border-radius: 0.2rem;
}

.scroll-top .bx:hover {
    background: #132522 !important;
    transition: 0.3s;
}

.scroll-active {
    bottom: 2rem;
    transition: 0.3s;
}

@keyframes fillLeft {
    100% {
        right: 100%;
    }
}

@keyframes fillTop {
    100% {
        top: 100%;
    }
}

@keyframes fillLeftOdd {
    100% {
        left: 100%;
    }
}

/* -------- Start media querry -------- */

/* MOBILE */
@media screen and (min-width: 360px) and (max-width: 900px){
    .menu-icon {
        display: flex;
    }
    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--third-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10rem 0rem 12rem 0rem;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .open-menu {
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .nav-link {
        display: block;
        margin: 1rem 0;
        font-weight: 600;
    }

    .image-spilled-coffee-beans{
        width: 10rem;
        height: 10rem;
        margin: 0rem 0rem 0rem 15rem;
    }

    .scroll-top .bx {
        padding: 8px;
        font-size: 1.5rem;
        color: var(--bg-color);
        background: var(--main-color);
        border-radius: 0.2rem;
    }

    .container-image-paragraph-coffee3{
        margin-top: 20rem;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .paragraph-main-home-3{
        width: 50%;
    }

    .image-coffee-capsule{
        width: 40%;
    }

    .timeline__event {
        flex-direction: column;
        align-self: center;
        width: 80%;
    }

    .timeline__content {
        width: 100%;
    }

    .timeline__icon {
        border-radius: 6px 6px 0 0;
        width: 100%;
        margin: 0;
        box-shadow: none;
    }

    .timeline__icon:before,
    .timeline__icon:after {
        display: none;
    }

    .timeline__name {
        border-radius: 0;
        padding: 20px;
    }

    .timeline__event:nth-child(2n + 1) {
        flex-direction: column;
        align-self: center;
    }

    .timeline__event:nth-child(2n + 1) .timeline__name {
        border-radius: 0;
        padding: 20px;
    }

    .timeline__event:nth-child(2n + 1) .timeline__icon {
        border-radius: 6px 6px 0 0;
        margin: 0;
    }

    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea {
        margin: 0 auto;
    }

    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

    .social-media-list li {
        height: 55px;
        width: 55px;
        font-size: 2rem;
    }

    .social-media-list li:after {
        width: 55px;
        height: 55px;
    }

        .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea {
        margin: 0 auto;
    }

    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

    .social-media-list li {
        height: 55px;
        width: 55px;
        font-size: 2rem;
    }

    .social-media-list li:after {
        width: 55px;
        height: 55px;
    }

    .send-button {
        width: 99%;
    }

}

/* DESKTOP */
@media screen and (min-width: 1024px){
    .nav-link{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .image-fluide-main{
        height: 60vh;
    }

    .paragraph-main-home{
        width: 60% !important;
        margin: auto;
        margin-top: 5rem;
    }

    .paragraph-main-home-2{
        width: 50%;
        margin: 5rem 0rem 0rem 10rem;
    }

    .paragraph-main-home-3{
        width: 70%;
    }

    .image-spilled-coffee-beans{
        position: absolute;
        width: 12rem;
        height: 12rem;
        margin: 3rem 0rem 0rem 74rem;
    }

    .image-coffee-spilled{
        width: 20rem;
        height: 20rem;
        margin: 2rem 0rem 0rem -7rem;
    }

    .image-coffee-capsule{
        width: 15rem;
        height:15rem;
    }

    .container-image-paragraph-coffee3{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        width: 70%;
        margin: 20rem 0rem 0rem 20rem;
    }

    .container-menu-coffee{
        margin-top: 25rem;
    }

    .image-fluid-main-coffee{
        height: 70vh;
    }

    .title-main-coffee{
        margin: -15rem 0rem 0rem 16rem;
    }

    .timeline__content{
        width: 80% !important;
    }

    .timeline__event{
        width: 90%;
    }

    .fluid-coffee{
        width: 30rem;
        height: 20rem;
        margin: -2rem 0rem 0rem 51rem;
    }

    .title-main-history{
        margin: 7rem 0rem 0rem 15rem;
    }

    .title-text-history{
        margin-top: 18rem;
    }

    .paragraph-main-history-2{
        width: 50%;
        height: 20vh;
        font-size: 18px !important;
        display: flex;
        align-items: center;
    }

    .paragraph-main-history-3{
        padding: 0rem 3rem 0rem 3rem !important;
        width: 100%;
        text-align: center;
        font-size: 18px !important;
    }

    .paragraph-main-history-4, .paragraph-main-history-6{
        font-size: 18px !important;
        width: 70%;
    }

    .paragraph-main-history-5{
        font-size: 18px !important;
        text-align: center;
        padding: 0rem 3rem 0rem 3rem !important;
        margin-bottom: 2rem;
    }

    .image-starbuks-store{
        width: 100%;
    }
    
    .image-moby-dick-history{
        margin-top: 0px;
    }

    .image-italy-history{
        margin-top: 0px;
    }


    .contact-list {
        margin-left: 53px;
    }

    .contact-icon{
        height: 4.4rem !important;
        width: 4.4rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-media-list li:after {
        width: 70px;
        height: 70px;
    }
}
